---
title: Home
desc: site.descriptions
---

<ul class="list-projects">
    {% assign projects = site.projects | sort: "order" %}
    {% for project in projects %}
    <li class="fade fade-delay-{{ project.order }}">
        <div class="bg-stripes-{{ project.order }} bg-{{ project.bg_color }}"></div>
        {% if site.lang == "fr" %}
        <a href="/fr{{ project.url }}" style="background: url(/assets/images/l-{{project.cover}})">
            <p class="project-title">{{ project.title }}</p>
            <p class="project-position">{% t project.position %}</p>
        </a>
        {% else %}
        <a href="{{ project.url }}" style="background: url(/assets/images/l-{{project.cover}})">
            <p class="project-title">{{ project.title }}</p>
            <p class="project-position">{% t project.position %}</p>
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>