<div class="col-container col-{{ include.side }}">
    <div class="col">
        <div class="img-container bg-stripes-{{ include.bg }} bg-{{ include.bg_color }} fade {% if include.side == 'right' %}fade-right{% endif %}">
            {% if include.website %}
            <a href="{{ include.website}}" target="_blank">
                <img
                    src="/assets/images/{{ include.img }}"
                    alt="Placeholder {{ include.img | remove: '.png' | remove: '.jpg' | remove: '.svg' | replace: '-', ' ' | replace: '_', ' ' | capitalize }}"
                    class="bg-website"
                />
            </a>
            {% elsif include.video %}
            <img
                src="/assets/images/{{ include.img }}"
                alt="{{ include.img | remove: '.png' | remove: '.jpg' | remove: '.svg' | replace: '-', ' ' | replace: '_', ' ' | capitalize }}"
                onclick="openModal(this)"
                class="{% if include.bg_img == true %}background-white{% endif %}"
            />
            {% else %}
            <img src="/assets/images/l-{{ include.img }}"
                alt="{{ include.img | remove: '.png' | remove: '.jpg' | remove: '.svg' | replace: '-', ' ' | replace: '_', ' ' | capitalize }}"
                onclick="openModal(this)"
                class="{% if include.bg_img == true %}background-white{% endif %}"
            />
            {% endif %}
        </div>
        
        {% if include.website_ext == false %}
        <div class="modal" onclick="closeModal(this)">
            <div class="close">
                <span></span>
                <span></span>
            </div>

            {% if include.video %}
            <iframe src="{{ include.video }}" frameborder="0" allowfullscreen></iframe>
            {% else %}
            <picture>
                <source media="(max-width: 600px)" srcset="/assets/images/s-{{ include.img }}">
                <source media="(max-width: 1024px)" srcset="/assets/images/m-{{ include.img }}">
                <img src="/assets/images/l-{{ include.img }}" alt="{{ include.img | remove: '.png' | remove: '.jpg' | remove: '.svg' | replace: '-', ' ' | replace: '_', ' ' | capitalize }}">
            </picture>
            {% endif %}
        </div>
        {% endif %}

        {% if include.website %}
        <small class="fade {% if include.side == 'right' %}fade-right{% endif %}">Click on image to visit</small>
        {% else %}
        <small class="fade {% if include.side == 'right' %}fade-right{% endif %}">Click on image to view</small>
        {% endif %}
    </div>

    <div class="col fade {% if include.side == 'right' %}fade-right{% endif %}">
        <h6>{{ include.title }}</h6>
        {{ include.text | markdownify }}
    </div>
</div>