<div class="col-container col-{{ include.side }}">
    <div class="col">
        <div class="img-container bg-stripes-{{ include.bg }} bg-{{ include.bg_color }} fade {% if include.side == 'right' %}fade-right{% endif %}">
            {% if include.website %}
            <a href="{{ include.website }}" target="_blank">
                <img src="/assets/images/{{ include.img }}" alt="{{ include.alt_img }}" class="bg-website" />
            </a>
            {% else %}
            <img
                src="/assets/images/{{ include.img }}"
                alt="{{ include.alt_img }}"
                onclick="openModal(this)"
                class="{% if include.bg_img == true %}background-white{% endif %}"
            />
            {% endif %}
        </div>
        
        {% if include.website_ext == false %}
        <div class="modal" onclick="closeModal(this)">
            <div class="close">
                <span></span>
                <span></span>
            </div>

            {% if include.video %}
            <iframe src="{{ include.video }}" frameborder="0" allowfullscreen></iframe>
            {% else %}
            <img src="/assets/images/{{ include.img }}" alt="{{ include.alt_img }}">
            {% endif %}
        </div>
        {% endif %}

        {% if include.website %}
        <small class="fade {% if include.side == 'right' %}fade-right{% endif %}">Click on image to visit</small>
        {% else %}
        <small class="fade {% if include.side == 'right' %}fade-right{% endif %}">Click on image to view</small>
        {% endif %}
    </div>

    <div class="col fade {% if include.side == 'right' %}fade-right{% endif %}">
        {{ include.text | markdownify }}
    </div>
</div>