<header class="header {% if page.header_black == true %}header-black{% endif %}">
    <a href="/" class="logo">Julien Sebag <span>UX / UI / Web Designer</span></a>

    <div class="burger" onclick="openMenu(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <ul class="nav">
        {% for item in site.data.nav %}
        <li><a href="{{ item.url }}" class="links">{{ item.name }}</a></li>
        {% endfor %}
        <li>
            <p class="links" onclick="openNav(this)">About</p>
            <div class="modal">{% include about.html %}</div>
        </li>

        <li>
            <p class="links" onclick="openNav(this)">Contact</p>
            <div class="modal">{% include contact.html %}</div>
        </li>
    </ul>
</header>