/*=============================================== Colors =============================================== */

$black: #111;
$white: #fff;
$blue: #279af1;
$footer: #333;
$gray: #464f51;

$red: #ed1c24;
$orange: #c44900;
$green: #139a43;
$yellow: #e6e49f;

.background-white {
	background-color: $white !important;
}

.bg-white {
	color: $white !important;
}

.bg-black {
	color: $black !important;
}

.bg-blue {
	color: $blue !important;
}

.bg-gray {
	color: $gray !important;
}

.bg-red {
	color: $red !important;
}

.bg-orange {
	color: $orange !important;
}

.bg-green {
	color: $green !important;
}

.bg-yellow {
	color: $yellow !important;
}
