/*============================================================= Fonts ============================================================= */

/*====================================== Import ====================================== */

// @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*====================================== Mixins ====================================== */

@mixin titles() {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
}

@mixin body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin body-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin body-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@mixin body-bold-italic {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: italic;
}

$font-size: 16px;

/*====================================== Styles ====================================== */

h1 {
    @include titles();
    @include font-size(5vw);

    @media (max-width: $breakpoint-mobile) {
        @include font-size(32px);
    }

    &.hidden {
        position: absolute;
        top: -999em;
        left: -999em;
        opacity: 0;
    }
}

h2 {
    @include titles();
    @include font-size(3vw);

    @media (max-width: $breakpoint-mobile) {
        @include font-size(24px);
    }
}

h3 {
    @include body-bold;
    @include font-size(24px);
}

h4 {
    @include titles();
    @include font-size(24px);
}

h5 {
    @include body-bold;
    @include font-size(20px);
}

h6 {
    @include titles();
    @include font-size(20px);
}

p,
ul,
p a {
    @include body;
    @include font-size($font-size);
}

p a {
    color: $blue;
    position: relative;
    text-decoration: none;

    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: $blue;
        @include transition(all, 0.2s, ease);
    }

    &:hover:after {
        width: 100%;
    }
}
