/*============================================================= Projects ============================================================= */

.cover-projects {
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;
    @include transition(all, 0.8s, ease);

    .img-cover {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            @include transition(all, 0.2s, ease);
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(
                top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 30%,
                rgba(0, 0, 0, 0.65) 100%
            );
            background: -webkit-linear-gradient(
                top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 30%,
                rgba(0, 0, 0, 0.65) 100%
            );
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 30%,
                rgba(0, 0, 0, 0.65) 100%
            );
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
            z-index: 1;
            float: left;
        }
    }

    .content-cover {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        @include flexbox(flex-start, flex-end, nowrap);
        flex-direction: column;
        padding: 5%;

        h1,
        h2 {
            @extend %paMar;

            @media (max-width: $breakpoint-mobile) {
                margin-bottom: 10px;
            }

            &.fade-delay-1.fade-long {
                @include transition-delay(2.5s);
            }

            &.fade-delay-2.fade-long {
                @include transition-delay(2.7s);
            }

            &.fade-delay-3.fade-long {
                @include transition-delay(2.9s);
            }

            &.fade-delay-4.fade-long {
                @include transition-delay(3.1s);
            }
        }

        @media (hover: none) and (pointer: coarse) {
            padding: 8vh 5%;

            h2:last-child {
                margin-bottom: 0;
            }
        }

        h1 {
            text-transform: uppercase;
        }
    }

    &.cover-black {
        color: $black;
    }

    &.cover-scroll {
        height: 0;

        .img-cover img {
            @include transform(scale(1.1));
            @include transition(all, 0.5s, ease);
        }
    }
}

.container-projects {
    width: 100%;
    float: left;
    background-color: $white;
    color: $black;
    position: relative;
    z-index: 2;

    .skills {
        @extend %ulNone;
        @include flexbox(center, center, nowrap);
        width: 100%;
        float: left;
        margin-bottom: 50px;

        @media (max-width: $breakpoint-mobile) {
            flex-wrap: wrap;
        }

        li {
            $width: 50px;
            @include transform(rotate(-45deg));
            writing-mode: lr-tb;
            width: $width;
            height: $width;
            @include flexbox(center, center, nowrap);
            @include font-size(18px);
            white-space: nowrap;

            @media (max-width: $breakpoint-mobile) {
                margin-bottom: 20px;
            }
        }
    }

    .content {
        padding: 5%;
    }

    .container-content {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        .col-container {
            @include flexbox(center, flex-start, nowrap);

            @media (max-width: $breakpoint-mobile) {
                @include flexbox(center, center, wrap);
            }

            &:not(:last-child) {
                margin-bottom: 100px;
            }

            &.col-right {
                flex-direction: row;

                @media (max-width: $breakpoint-mobile) {
                    flex-direction: column-reverse;
                }
            }

            &.col-left {
                flex-direction: row-reverse;

                @media (max-width: $breakpoint-mobile) {
                    flex-direction: column-reverse;
                }

                .col:first-child {
                    padding-left: 10px;
                    padding-right: 0;
                }

                .col:last-child {
                    padding-right: 10px;
                    padding-left: 0;
                }
            }

            .col {
                width: 50%;

                @media (max-width: $breakpoint-mobile) {
                    width: 100%;
                }

                h6 {
                    margin-top: 0;
                    margin-bottom: 25px;
                    position: relative;
                    width: auto;

                    &:after {
                        content: "";
                        width: 20px;
                        height: 2px;
                        background-color: $black;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }

                p {
                    @extend %paMar;
                    
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }

                &:first-child {
                    padding-right: 10px;
                }

                &:last-child {
                    padding-left: 10px;
                }

                .img-container {
                    width: 100%;
                    height: 400px;
                    cursor: pointer;

                    @media (max-width: $breakpoint-mobile) {
                        width: 70vw;
                        height: 70vw;
                        margin: 0 auto;
                        max-height: none;
                    }

                    &.bg-stripes-1 {
                        color: $black;
                    }

                    img,
                    img.revealLeft {
                        $padding: 20px;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        @include transition(all, 0.2s, ease);

                        &.bg-website {
                            object-fit: contain;
                            background-color: $white;
                        }

                        &:hover {
                            margin-left: -$padding;
                            margin-top: -$padding;
                        }

                        @media (hover: none) and (pointer: coarse) {
                            margin-left: -$padding/2 + 5;
                            margin-top: -$padding/2 + 5;
                        }
                    }
                }

                .modal {
                    position: fixed;
                    top: 50vh;
                    left: 50%;
                    width: 0;
                    height: 0;
                    background-color: rgba($black, 0.8);
                    @include flexbox(center, center, nowrap);
                    z-index: 9999;
                    opacity: 0;
                    @include transition(all, 0.5s, ease);
                    overflow: hidden;

                    .close {
                        position: absolute;
                        top: 70px;
                        right: 5%;
                        width: 30px;
                        height: 10px;
                        cursor: pointer;
                        @include transition(all, 0.4s, ease);
                        @include transition-delay(1.2s);
                        opacity: 0;

                        span {
                            width: 100%;
                            float: left;
                            height: 2px;
                            background-color: $white;
                            position: absolute;
                            left: 0;

                            &:first-child {
                                top: 4px;
                                @include transform(rotate(45deg));
                            }

                            &:last-child {
                                bottom: 4px;
                                @include transform(rotate(-45deg));
                            }
                        }
                    }

                    picture {
                        width: 90%;
                        height: 90%;
                        opacity: 0;
                        @include transition(all, 0.4s, ease);
                        @include transition-delay(0.8s);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    iframe {
                        width: 90%;
                        height: 90%;
                        opacity: 0;
                        @include transition(all, 0.4s, ease);
                        @include transition-delay(0.8s);
                    }
                }

                &.modal-open {
                    .modal {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100vh;
                        opacity: 1;

                        .close {
                            opacity: 1;
                        }

                        picture,
                        iframe {
                            opacity: 1;
                        }
                    }
                }

                small {
                    color: $gray;
                    @include body-italic;
                    @include font-size(14px);
                    margin-top: 10px;
                    float: left;
                    width: 100%;
                }
            }
        }

        .link-behance:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    ul:not(.skills) {
        @extend %ulNone;

        li {
            @include flexbox(flex-start, flex-start, nowrap);
            padding-left: 5px;

            &:before {
                @include icon(900, "\f054");
                font-size: 10px;
                line-height: 16px * 1.4;
                margin-right: 5px;
            }
        }
    }
}

// Test Container Img

.container-img {
    width: 300px;
    height: 300px;
    position: relative;

    .bg-stripes-1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .bg-img {
        $margin: -20px;

        width: 100%;
        height: 100%;

        @extend %bgCenter;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;

        @include transition(all, 0.2s, ease);
        @include transform(translate(0, 0));

        object-fit: cover;

        &:hover {
            @include transform(translate($margin, $margin));
        }
    }
}
