@charset "UTF-8";

/* SCSS Document */

/*=============================================== Imports =============================================== */
@import "mixins";
@import "colors";
@import "fonts";
@import "layouts";

/*=============================================== General =============================================== */

* {
    @include box-sizing(border-box);
    outline: none;
}

html,
body {
    @extend %paMar;
    @include body;
    scroll-behavior: smooth;
    background-color: $black;
    color: $white;
    animation: block 3s 1;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
}

/*=============================================== Components =============================================== */

@import "ui-components";
@import "header";
@import "footer";

/*=============================================== Pages =============================================== */

@import "home";
@import "projects";
