/* CSS Tetrys */

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    text-transform: uppercase;
}

p{
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
}

ul, ol{
    list-style: none;
}

.navigation, #equipe .navigation{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 300;
}

.navigation li, #equipe .navigation li{
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
}

.navigation li a, #equipe .navigation li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: .5em;
}

.navigation li:first-child, #equipe .navigation li:first-child{
    margin-bottom: .5em;
}

#accueil{
    width: 100%;
    min-height: 100%;
    float: left;
    background: url("../images/logo-grand.svg") #fff no-repeat;
    background-position: right top;
}

#accueil ul{
    width: 50%;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
}

#accueil ul li{
    background: #f2f3f4;
    width: 60%;
    float: left;
    clear: both;
    text-align: center;
    margin-bottom: .5em;
    font-size: 40px;
    border-radius: 5px;
}

#accueil ul li a{
    padding: .5em;
    display: block;
    width: 100%;
    height: 100%;
    color: #9d9b9a;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

#agence{
    background: url('../images/danseuse_2.png') no-repeat #fff;
    background-position: center;
    width: 100%;
    min-height: 100%;
    float: left;
}

#agence h1{
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 50px;
    color: #f5943d;
    line-height: 40px;
}

#agence h1 strong{
    font-size: 80px;
}

#agence p{
    width: 30%;
    float: left;
    margin-top: 10%;
    padding: .5em;
    padding-top: 0;
    margin-left: 15%;
}

#perspectives{
    background: url('../images/danseuse.jpg') no-repeat #fff;
    background-position: center;
    width: 100%;
    min-height: 100%;
    float: left;
}

#perspectives h1{
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 17px;
    color: #f5943d;
}

#perspectives h1 strong{
    font-size: 60px;
}

.ligne1, .ligne2{
    width: 80%;
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-top: 1em;
}

.ligne1 li, .ligne2 li{
    padding-left: .5em;
    padding-right: .5em;
}

.ligne1 li{
    width: 33.3333%;
    float: left;
}

.ligne1 li img{
    width: 20%;
}

.ligne2{
    margin-top: 5%;
}

.ligne2 li{
    width: 50%;
    float: left;
}

.ligne2 li img{
    width: 20%;
}

#equipe{
    width: 100%;
    float: left;
    background: white;
    min-height: 100%;
}

#equipe h1{
    width: 20%;
    float: left;
    margin-left: 5%;
    color: #f5943d;
    font-size: 50px;
    line-height: 50px;
    margin-top: 10%;
}

#equipe h1 strong{
    font-size: 80px;
}

.liste-equipe{
    width: 50%;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 1em;
}

.liste-equipe li{
    width: 30%;
    float: left;
    margin-right: 5%;
    height: 300px;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
}

.liste-equipe li img{
    width: 100%;
}

.liste-equipe li p{
    display: none;
    position: absolute;
    background: #00bbe0;
    top: 0;
    color: white;
    width: 100%;
    padding: .5em;
    font-size: 14px;
    height: 100%;
    text-align: justify;
    line-height: normal;
    cursor: default;
}

.liste-equipe li p strong{
    border-bottom: 2px solid #fff;
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: .5em;
    padding-bottom: .5em;
    font-size: 15px;
}

.liste-equipe li p i{
    width: 100%;
    float: left;
    font-style: normal;
}

.liste-equipe li:hover p{
    display: inherit;
}

#contact{
    width: 100%;
    min-height: 100%;
    background: #00bbe0;
    float: left;
}

#contact h1{
    width: 20%;
    float: left;
    margin-left: 10%;
    font-size: 90px;
    color: white;
    line-height: 52px;
    margin-top: 10%;
}

#contact h1 strong{
    font-size: 41px;
}

#contact form{
    width: 30%;
    float: left;
    margin-left: 20%;
    margin-top: 8%;
}

#contact form ul, #contact form li{
    width: 100%;
}

#contact form input, #contact form textarea{
    width: 100%;
    border: 1px solid #c6c6c6;
    padding: .5em;
    border-radius: 5px;
    margin-bottom: 1em;
}

#contact form textarea{
    height: 250px;
}

#contact form button{
    background: white;
    border: none;
    cursor: pointer;
    float: right;
    padding: .5em;
    font-size: 16px;
    border-radius: 5px;
}

#contact form button:hover{
    background: #e3e3e3;
}

#contact form button:active{
    background: #c6c6c6;
}

footer{
    background: #949596;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

footer li{
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    line-height: normal;
    font-weight: 100;
}

footer li img{
    width: 50px;
}

footer li a{
    color: white;
}

/*============================================ Mobile ============================================*/

@media screen and (max-width:680px){
    #accueil ul{
        width: 80%;
        margin-left: 10%;
        margin-top: 40%;
    }
    
    #accueil ul li{
        width: 100%;
        line-height: normal;
        font-size: 25px;
    }
    
    #agence{
        height: auto;
    }
    
    #agence h1, #perspectives h1, #equipe h1, #contact h1{
        margin-top: 5%;
    }
    
    #agence h1, #agence p{
        width: 70%;
    }
    
    #perspectives{
        height: auto;
    }
    
    #perspectives h1, #equipe h1{
        width: 85%;
    }
    
    .ligne1 li, .ligne2 li{
        width: 80%;
        margin-left: 10%;
        margin-right: 0px;
        margin-bottom: 1em;
        margin-top: 0px;
    }
    
    #equipe{
        height: auto;
    }
    
    .liste-equipe{
        width: 80%;
        margin-left: 10%;
    }

    .liste-equipe li{
        width: 100%;
        margin-right: 0;
        height: 300px;
        margin-bottom: 1em;
        position: relative;
        overflow: hidden;
    }

    .liste-equipe li img{
        width: 50%;
    }

    .liste-equipe li p{
        display: block;
        position: relative;
        background: #00bbe0;
        color: white;
        width: 50%;
        float: left;
        height: 100%;
    }
    
    .liste-equipe li:last-child{
        display: none;
    }
    
    #contact{
        height: auto;
        min-height: 100%;
    }

    #contact h1{
        width: 80%;
        margin-left: 10%;
    }

    #contact form{
        width: 80%;
        margin-left: 10%;
        margin-top: 3%;
    }
}