<!doctype html>
<html>
     <head>
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169974669-1"></script>
          <script>
               window.dataLayer = window.dataLayer || [];
               function gtag() { dataLayer.push(arguments); }
               gtag('js', new Date());

               gtag('config', 'UA-169974669-1');
          </script>

          <meta charset="UTF-8">
          <title>{{ page.title }} | {{ site.title }}</title>
          <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
          <meta name="description" content="{{ page.desc }}">
          <meta name="author" content="Julien Sebag">
          <meta property="og:title" content="{{ page.title }}" />
          <meta property="og:type" content="designer_portfolio" />
          <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
          <meta property="og:image" content="/assets/images/{% if page.url == '/' %}{{ site.cover_og }}{% else %}m-{{ page.cover }}{% endif %}" />
          <meta property="og:site_name" content="{{ site.title }}" />
          <meta property="og:locale" content="en_GB" />
          <!-- Website Language (see here https://stackoverflow.com/questions/3191664/list-of-all-locales-and-their-short-codes) -->
          <link href="/assets/images/{{ site.favicon }}" rel="shortcut icon">

          <!-- CSS -->
          <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
          <link rel="stylesheet" href="/assets/css/style.css">
     </head>

     <body {% if page.title == "Home" %}id="home"{% endif %}>
          {% include header.html %}
          {% if page.layout != "projects" %}
          <main class="container">
               {{ content }}
          </main>
          {% else %}
          {{ content }}
          {% endif %}
          
          {% include footer.html %}

          
          <script src="/assets/js/script.js"></script>
     </body>
</html>
